{% extends 'base.html' %}
{% load static %}
{% block heading %}個人資料{% endblock %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/information.css' %}">
    <!--作用 : 只能編輯自己的個人資料-->
    {% if request.user.email == user.email %}
    <div class="user-edit">
        <button type="button" class="edit-btn" onclick="location.href='{% url 'account:profileUpdate' user.id %}'">編輯</button>
    </div>
    {% endif %}
    <!--使用者的資料-->
    <div class="information">
        <table class="user">
            <tr>
                <td>姓名</td>
                <td>{{ user.fullName }}<td>
            </tr>
            <tr>
                <td>電子信箱</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td>個人網站</td>
                <td>{{ user.website }}</td>
            </tr>
            <tr>
                <td>地址</td>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <td>帳號註冊日期</td>
                <td>{{ user.date_joined }}</td>
            </tr>
        </table>
    </div>
{% endblock %}