.discription{
    width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.title{
    text-align: center;
    font-size: 25px;
}

.rule{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

ol li{
    font-size: 20px;
}