
.createArticle p{
    text-align: center;
}

.title a{
    text-decoration: none;
}

.title a:hover{
    color: aqua;
    text-decoration: underline;
}

.publishTime{
    margin-left: 25%;
}

.articleContent{
    background-color: darkorange;
    border: thin solid gray;
    border-radius: 10px;
    width: 750px;
    margin-left: 25%;
}

.create-article, .update-article{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.edit-article{
    display: inline-block;
    color: black;
    background-color: rgba(255, 248, 220, 0.998);
    text-align: center;
    text-decoration: none;
    height: 20px;
    width: 80px;
    font-size: 15px;
    border-radius: 15px;
}

textarea{
    width: 400px;
    height: 330px;
    resize: none;
}

input{
    size: 200px;
}

.like{
    font-weight: bold;
    color: #3e7bd1;
    margin-left: 25%;
}

img#like{
    vertical-align: middle;
    width: 0.5cm;
    height: 0.5cm;
}

.div-comment, .commentUser{
    font-size: 0.7cm;
    margin-left: 180px;
}

.commentUser{
    font-weight: bold;
    color: #186caf;
    font-size: 20px;
}

.commentUser a{
    text-decoration: none;
}

.commentUser a:hover{
    color: aqua;
}

.commentTime{
    font-weight: bold;
    font-size: 15px;
    color: rgb(57, 218, 32);
    margin-left: 15%;
    margin-top: 35px;
}

.comment, .yourcomment{
    font-size: 20px;
}

.leave-comment{
    margin-left: 35%;
}
