div.container{
    margin-left: auto;
    margin-right: auto;
}

.createArticle p{
    text-align: center;
}

.title a{
    text-decoration: none;
}

.title a:hover{
    color: aqua;
    text-decoration: underline;
}

.publishTime, .update-article{
    margin-left: 25%;
}

.articleContent{
    background-color: darkorange;
    border: thin solid gray;
    border-radius: 10px;
    width: 750px;
    margin-left: 25%;
}

.create-article{
    text-align: center;
}

textarea{
    width: 500px;
    height: 330px;
    resize: none;
}


.like{
    font-weight: bold;
    color: #3e7bd1;
    margin-left: 25%;
}

img#like{
    vertical-align: middle;
    width: 0.5cm;
    height: 0.5cm;
}

div.Allcomment{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.usercomment, .commentAuthor{
    font-size: 0.7cm;
    margin-left: 180px;
}

.commentAuthor{
    font-weight: bold;
    color: #186caf;
    font-size: 20px;
}

.commentTime{
    font-weight: bold;
    font-size: 15px;
    color: rgb(57, 218, 32);
}

.comment{
    font-size: 20px;
}

.leave-comment{
    margin-left: 35%;
}
