table{
    text-align: center;
    width: 40%;
    border-collapse: collapse;
    border: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

table td{
    text-align: center;
    border: solid 1px;
}

.user-edit .edit-btn{
    text-align: center;
    text-decoration: none;
    height: 30px;
    width: 40px;
    margin-left: 50%;
    margin-top: 20px;
    color: black;
    border: thin solid gray;
    padding: 0%;
}

.update input{
    display: block;
    width: 450px;
}

.update{
    margin-left: 35%;
}

.update-btn{
    margin-left: 50%;
    margin-top: 15px;
}