{% extends "base.html" %}
{% load static %}
{% block heading %}文章列表{% endblock %}
{% block content %}
{% include 'searchForm.html' %}

<div class="createArticle">
    {% if user.is_superuser %}
        <p>
            <a class="btn" href="{% url 'articleCreate' %}">新增文章</a>
        </p>
    {% endif %}
</div>
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
    {% for article, comments in articles.items %}
        <div class="container">
            <div class="article">
                <h2 class="title">
                    <a href="{% url 'articleRead' article.id %}">{{ article.title }}</a>
                </h2>
                {% if user.is_superuser %}
                    <form class="inlineBlock"  method="POST" action="{% url 'articleDelete' article.id %}">
                        {% csrf_token %}
                        <input class="btn deleteConfirm" type="submit" value="刪除">
                    </form>
                {% endif %}
                <p>發表時間 : {{ article.pubDateTime }}</p>
                <!-- 顯示文章前30字 -->
                <div class="articleContent">
                    {{ article.content|linebreaks|truncatechars_html:30 }}
                </div>
                <p class="like">
                    <img id="like" src="{% static 'img/like.png' %}" alt="Like"> {{ article.likes.count }} 讚
                </p>
                <hr>
                {% endfor %}
            </div>
        </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/deleteConfirm.js' %}"></script>
{% endblock %}