{% extends 'base.html' %}
{% block title %}
    {{ article.title }}
{% endblock %}  

{% block content %}
    <h1>
        <a class="home" href="{% url 'Home' %}">Ting0887的部落格網站</a>
    </h1>
    <div class="display-article">
        <div class="article-card">
            <div class="article-title">
                {{ article.title }}
            </div>
            <div class="article-content">
                {{ article.content }}
            </div>
        </div>
    </div>
    {% include 'article/article_comment.html' %}
{% endblock %}