{% extends 'base.html' %}
{% block title %}
    {{ article.title }}
{% endblock %}  

{% block content %}
    <a class="home" href="{% url 'Home' %}">
        <h1>Ting0887的部落格網站</h1>
    </a>
    <div class="display-article">
        <div class="article-card">
            <div class="article-title">
                {{ article.title }}
            </div>
            <div class="article-content">
                {{ article.content }}
            </div>
        </div>
    </div>
    {% include 'article/article_comment.html' %}
    <div class="home">
        <a href="{% url 'Home' %}">
            <button>回首頁</button>
        </a>
    </div>
{% endblock %}