{% extends "base.html" %}
{% load static %}
{% block heading %}文章內容{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/article.css' %}">
<link rel="stylesheet" href="{% static 'css/commentbutton.css' %}">
<script src="{% static 'js/modify-comment.js' %}"></script>
<div class="container">
    <h2 class="title">{{ article.title|linebreaks }}</h2>
        {% if user.is_superuser %}
        <div class="update-article">
            <a class="edit-article" href="{% url 'articleUpdate' article.id %}">文章修改</a>
        </div>
        {% endif %}
        <div class="publishTime">
            <p>發表時間 : {{ article.pubDateTime }}</p>
        </div>
        <div class="articleContent">
            {{ article.content|linebreaks }}
        </div>
            <p class='like'>
                <img id="like" src="{% static 'img/like.png' %}" alt="like"> {{ article.likes.count }}
                {% if user.is_authenticated %}
                    <a href="{% url 'articleLike' article.id %}">讚</a>
                {% endif %}
            </p>
        <div class="Allcomment">
        {% for comment in comments %}
            <div class="div-comment">
                <span class="commentUser">
                    <a href="{% url 'account:profile' comment.user.id %}">
                        {{ comment.user.username }}
                    </a>
                </span>
                {% if comment.user != user %}
                <div class="comment" id="comment">
                    {{ comment.content }}
                </div>
                <div class="dropdown-content" style="display: none;">
                </div>
                {% elif comment.user == user %}
                <!--更新留言的表單-->
                <form class="comment-update" id="comment-update" method="POST" 
                        action="{% url 'commentUpdate' comment.id %}">
                    {% csrf_token %}
                    <div class="yourcomment" id="comment-{{ forloop.counter0 }}">
                        {{ comment.content }}
                    </div>
                    <div class="confirm-edit" id="confirm-edit-{{ forloop.counter0 }}"></div>
                    <div class="cancel-edit" id="cancel-edit-{{ forloop.counter0 }}"></div>
                </form>
            <!--如果是自己的留言，可編輯or刪除-->
                <div class="comment-dropdown">
                    <input onclick="buttonClick('{{ forloop.counter0 }}')" id="comment-modify" 
                            type="image" src='{% static "img/commentclick.png" %}' />
                    <div id="dropdown-menu" class="dropdown-content">
                        <!-- 刪除留言請求-->
                        <form class="comment-delete" method="POST" 
                                action="{% url 'commentDelete' comment.id %}">
                            {% csrf_token %}
                            <input class="btn deleteConfirm" type="submit" value="刪除">
                        </form>
                        <!--更新留言-->
                        <input onclick="editComment('{{ comment.content }}','{{ forloop.counter0 }}')" 
                            class="btn-edit" type="button" value="編輯">
                    </div>
                </div>
            {% endif %}
            <br>    
                <span class="commentTime">
                    {{ comment.pubDateTime }}
                </span>
            </div>
                </br>
        {% endfor %}
        </div>
        {% if user.is_authenticated %}
        <br>
        <form class="leave-comment" method='POST' action="{% url 'commentCreate' article.id %}">
            {% csrf_token %}
            <div class="user">
                {{ request.user.username }}
            </div>
            <textarea name="comment" placeholder="留言..."></textarea>
            <input class="btn" type="submit" value="送出">
        </form>
        <br>
        {% endif %}
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/deleteConfirm.js' %}"></script>
{% endblock %}